{% extends "./_base.html" %}
{% block content %}
    <div class="container">
        <h2 class="text-center">ルーム詳細</h2>
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    {% load lookup %}
                    {% if user.is_authenticated and room.created_by.id == user.id %}
                    <a class="btn btn-outline-dark " href="{% url 'room_join_request' room.pk %}">参加申請者一覧</a>
                    <a class="btn btn-outline-dark " href="{% url 'update' room.pk %}">編集</a>
                    {% elif requested %}
                    <a class="btn btn-outline-dark ">参加申請中</a>
                    {% else %}
                    <a class="btn btn-outline-dark " href="{% url 'join_request' room.pk %}">参加申請する</a>
                    {% endif %}
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                </div>
            </div>
        </div>
        <!--  -->
        {% include "./room_detail_contents.html" %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    {% load lookup %}
                    {% if user.is_authenticated and room.created_by.id == user.id %}
                    <a class="btn btn-outline-dark " href="{% url 'room_join_request' room.pk %}">参加申請者一覧</a>
                    <a class="btn btn-outline-dark " href="{% url 'update' room.pk %}">編集</a>
                    {% elif requested %}
                    <a class="btn btn-outline-dark ">参加申請中</a>
                    {% else %}
                    <a class="btn btn-outline-dark " href="{% url 'join_request' room.pk %}">参加申請する</a>
                    {% endif %}
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
