{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row mb-3"></div>
        <div class="container">
            <div class="col-12">
            </div>
        </div>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">押し引き判定</h5>
            </div>
            <form id="filter" method="get">
                <div class="modal-body">
                    {{ filter.form|crispy }}
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary btn-block" form="filter">判定</button>
            </div>
        </div>

        {% if judge %}
            <div class="text-center" style="margin:10px;">
            {% if should_push %}
                <div class="alert alert-success">
                    <strong>押し！</strong>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>降り！</strong>
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
