{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row mb-3"></div>
        <div class="container">
            <div class="col-12">
            </div>
        </div>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">押し引き判定（副露 vs リーチ）</h5>
            </div>

            {% if cannot_judge %}
            <div class="text-center" style="margin:10px;">
                <div class="alert alert-danger">
                    <strong>判定できません</strong>
                </div>
            </div>
            {% endif %}

            {% if judge %}
            <div class="text-center" style="margin:10px;">
                {% if should_push %}
                <div class="alert alert-success">
                    <div style="font-size: 24px;font-weight: bold;">押し！</div>
                    <div style="font-size: 14px;">打点（{{ your_point }}点）≧ 要求打点（{{ required_point }}点）</div>
                </div>
                {% else %}
                <div class="alert alert-danger">
                    <div style="font-size: 24px;font-weight: bold;">降り！</div>
                    <div style="font-size: 14px;">打点（{{ your_point }}点）< 要求打点（{{ required_point }}点）</div>
                </div>
                {% endif %}
            </div>
            {% endif %}

            <form id="filter" method="get">
                <div class="modal-body">
                    <div id="div_id_point" class="form-group"> <label for="id_point" class="col-form-label ">
                            打点
                        </label>
                        <div class="">
                            <select name="point" class="form-control" id="point">
                                {% for p in point_option %}
                                <option value="{{ p.child_point|stringformat:"i" }}" {% if p.child_point == point %} selected{% endif %}>{{ p.fu }}符 {{ p.han }}翻（子: {{ p.child_point }}点　親: {{ p.parent_point }}点）</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="div_id_kyotaku" class="form-group"> <label for="id_kyotaku" class="col-form-label ">
                            供託
                        </label>
                        <div class="">
                            <select name="kyotaku" class="form-control" id="kyotaku">
                                {% for p in kyotaku_option %}
                                <option value="{{ p.num }}" {% if p.num == kyotaku %} selected{% endif %}>{{ p.num }}本（{{ p.point }}点）</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="div_id_honba" class="form-group"> <label for="id_honba" class="col-form-label ">
                            本場
                        </label>
                        <div class="">
                            <select name="honba" class="form-control" id="honba">
                                {% for p in honba_option %}
                                <option value="{{ p.num }}" {% if p.num == honba %} selected{% endif %}>{{ p.num }}本場（{{ p.point }}点）</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="div_id_is_ryokei" class="form-group">
                        <label for="is_ryokei" class="col-form-label ">
                            待ち
                        </label>
                        <div class="">
                            <select name="is_ryokei" class="form-control" id="is_ryokei">
                                <option value="1" {% if 1 == is_ryokei %} selected{% endif %}>良形</option>
                                <option value="0" {% if 0 == is_ryokei %} selected{% endif %}>愚形</option>
                            </select>
                        </div>
                    </div>

                    <div id="div_id_hoju_rate" class="form-group"> <label for="id_hoju_rate" class="col-form-label ">
                            放銃率
                        </label>
                        <div class="">
                            <select name="hoju_rate" class="form-control" id="id_hoju_rate">
                                {% for p in hoju_rate_option %}
                                <option value="{{ p.value|stringformat:"i" }}" {% if p.value == hoju_rate %} selected{% endif %}>{{ p.value }}%（例 : {{ p.example }}）</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="div_id_junme" class="form-group"> <label for="id_junme" class="col-form-label ">
                            順目
                        </label>
                        <div class="">
                            <select name="junme" class="form-control" id="junme">
                                <option value="8" {% if 8 == junme %} selected{% endif %}>8順目</option>
                                <option value="11" {% if 11 == junme %} selected{% endif %}>11順目</option>
                                <option value="14" {% if 14 == junme %} selected{% endif %}>14順目</option>
                            </select>
                        </div>
                    </div>

                    <div id="div_id_you_are_parent" class="form-group"> <label for="id_you_are_parent" class="col-form-label ">
                            自分
                        </label>
                        <div class="">
                             <select name="you_are_parent" class="nullbooleanselect form-control" id="id_you_are_parent">
                                <option value="0" {% if 0 == you_are_parent %} selected{% endif %}>子</option>
                                <option value="1" {% if 1 == you_are_parent %} selected{% endif %}>親</option>
                            </select>
                        </div>
                    </div>

                    <div id="div_id_oponent_is_parent" class="form-group"> <label for="id_oponent_is_parent" class="col-form-label ">
                            相手
                        </label>
                        <div class="">
                            <select name="oponent_is_parent" class="nullbooleanselect form-control" id="id_oponent_is_parent">
                                <option value="0" {% if 0 == oponent_is_parent %} selected{% endif %}>子</option>
                                <option value="1" {% if 1 == oponent_is_parent %} selected{% endif %}>親</option>
                            </select>
                        </div>
                    </div>

                    <div id="div_id_is_dora" class="form-group"> <label for="id_is_dora" class="col-form-label ">
                            一発 or ドラ
                        </label>
                        <div class="">
                            <select name="is_dora" class="nullbooleanselect form-control" id="id_oponent_is_parent">
                                <option value="0" {% if 0 == is_dora %} selected{% endif %}>No</option>
                                <option value="1" {% if 1 == is_dora %} selected{% endif %}>Yes</option>
                            </select>
                        </div>
                    </div>

                    <!-- {{ filter.form|crispy }} -->
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary btn-block" form="filter">判定</button>
            </div>
        </div>
    </div>
{% endblock %}
