{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h3 class="text-center mt-3 mb-3">参加申請者一覧</h3>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for roomjoinrequest in roomjoinrequest_list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>参加申請者</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ roomjoinrequest.user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>コメント</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ roomjoinrequest.comment }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <form action="approve/" method="post">
                                            {% csrf_token %}
                                            <input id="roomjoinrequest_id" type="hidden" name="roomjoinrequest_id" value="{{ roomjoinrequest.id }}">
                                            <input class="btn btn-success" type="submit" value="承認">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            参加申請者はいません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="float-left mt-3 mb-3">
            <a class="btn btn-secondary" href="{% url 'index' %}">戻る</a>
        </div>
    </div>
{% endblock %}
