{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {{ form.certifications.errors }}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h3 class="text-center mt-3 mb-3">参加リクエスト</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" id="myform">
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-left mb-3">
                    <a class="btn btn-secondary" href="{% url 'index' %}">戻る</a>
                </div>
                <div class="float-right mb-3">
                    <a class="btn btn-success save" href="#">送信</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
