<div class="row">
    <div class="col-5 col-sm-3">
        <p>タイトル</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ room.title|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>詳細</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ room.content|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>場所</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ room.place|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>開始日時</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ room.start_at|date:"Y/m/d G:i" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>オーナー</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ room.created_by.last_name }}</p>
    </div>
</div>
