.custom-control-input:checked~.custom-control-label.green::before {
  background-color: #2cb696;
}
button.green {
  background-color: #2cb696;
  border-color: #2cb696;
  color: white;
  font-weight: 700;
}

a {
  color: #787c7b;
}

.alert-success {
    color: #fff;
    background-color: #2cb696;
}
.alert-danger {
    color: #fff;
    background-color: #C94055;
}

h4 {
    font-size: 22px;
    font-weight: 700;
}
h5 {
    font-size: 100%;
    font-weight: 700;
}

.col-form-label {
    font-weight: 700;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 5em;
}

footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}

a.login-btn {
  color: white;
    text-decoration: none;

}

.login-btn {
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
  width: 250px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}
.google {
  background-color: #dd4b39;
}

.btn-wrapper {
  text-align: center;
}
